<h1>Create a new Portfolio Item</h1>

<%= link_to  "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>

<% @portfolio_items.each do |portfolio_item| %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
  
<% end %>