<div class="app-card-container">
    <div class="card">

		<h1>Contact</h1>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<p>Find me in apples worms rrrrrrrrrb</p>
				<p><a href="mailto:jordanmontoya811@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
				<p>Schooling at Bottega currently</p>
			</div>
			<div class="col-md-8">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.142199462249!2d-111.89820268471719!3d40.42785006288723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8554c917de07%3A0x865ac5eda44125a!2sBottega!5e0!3m2!1sen!2sus!4v1508986466882" width="450" height="450" frameborder="25" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-2">
				<p><%= number_to_phone "8018014564" %></p>
				<p><%= number_to_currency "5555555555" %></p>
				<p><%= number_with_delimiter "55555543546456685555" %></p>
			</div>
		</div>
	</div>	
</div>