            <div class="inner cover">
            <h1 class="cover-heading">your page.</h1>
            <p class="lead">This is meant to showcase our work here at Bottega.</p>
            <p class="lead">
              <a href="/contact" class="btn btn-lg btn-secondary">Get Down!</a>
              <%= link_to "About", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>
